HelloWorld/Git_Flow_Test.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "bdae371a-ac40-3f74-b8d8-fd09370e21a8",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "9b1ec9a3-5024-3535-b71d-c24db1641ce9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "66a02087-85a9-3631-b951-24a03c4c07de",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "e7ec07c3-2917-3320-a243-e3e9207ccf03",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "dd49d2cb-c663-3988-8747-22d063677f3d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "bdae371a-ac40-3f74-b8d8-fd09370e21a8",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "6d3feb89-8aec-3f9f-84f7-1d2679f51b0a",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "1fcbc996-7bee-3454-af09-56be9031819b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "e7ec07c3-2917-3320-a243-e3e9207ccf03",
            "name" : "ExtractText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "01f50924-0055-3af2-93ee-e0cd4395cfca",
            "name" : "Output_FOO",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "8ae54451-3e73-3849-a298-fd0bcbb465e6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "Output",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
            "id" : "6d3feb89-8aec-3f9f-84f7-1d2679f51b0a",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "funnels" : [ ],
        "identifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "CSV to JSON",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "01f50924-0055-3af2-93ee-e0cd4395cfca",
          "name" : "Output_FOO",
          "position" : {
            "x" : 5987.316678618862,
            "y" : 968.1931094833315
          },
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 1807.5950272744494,
          "y" : 238.08582670821568
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "66a02087-85a9-3631-b951-24a03c4c07de",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4413.171591082662,
            "y" : 362.30088816648976
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "1B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "true",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "e7ec07c3-2917-3320-a243-e3e9207ccf03",
          "name" : "ExtractText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4445.310512578634,
            "y" : 974.5842906004445
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "csv" : "(.),(.),(.),(.)",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "csv" : {
              "displayName" : "csv",
              "identifiesControllerService" : false,
              "name" : "csv",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "name" : "extract-text-enable-repeating-capture-group",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "6d3feb89-8aec-3f9f-84f7-1d2679f51b0a",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 5267.232496124864,
            "y" : 961.9116061084258
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "{\n\t\"field1\": \"${csv.1}\",\n\t\"field2\": \"${csv.2}\",\n\t\"field3\": \"${csv.3}\",\n\t\"field4\" : \"${csv.4}\"'\n}",
            "Evaluation Mode" : "Entire text",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.9.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "708e7e8c-7a47-3268-9720-1cf25315a6c9",
          "identifier" : "bdae371a-ac40-3f74-b8d8-fd09370e21a8",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4427.922437531114,
            "y" : 721.0180781238066
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "a,b,c,d",
            "Evaluation Mode" : "Entire text",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Always Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      }
    }
  }
}